@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {margin: 0; padding: 0; box-sizing: border-box; -webkit-text-size-adjust:none; font-family: 'SEBANG_Gothic_Bold';}
li , ul {list-style: none;}
a {color: #333; text-decoration: none;}

html {font-size: 14px; width: 100%; margin: 0 auto; max-width: 768px; height: 100%;}
body {width: 100%; max-width: 768px; height: 100%;}
#wrap {margin: 0 auto; max-width: 480px;}

.yg {font-family: 'yg-jalnan';}
.hr {font-family: 'HallymGothic-Regular';}



